/* background */
main{
  width: 100%;
}

body {
  background-color: darkgray;
}

header {
  background-color: black;
}

footer {
  background-color: black;
}


/* Mise en page concernant le header */

hr {
  color: black;
}

/* Mise en page concernant la page de connexion */

.form-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

/* Mise en page formulaire inscription */
.form-inscription {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* Mise en page Panier */

.panier-centrage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Mise en page Produit.php */

.produit-centrage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* mise en page profil.php */
.profil-centrage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Mise en page index.html */

h5 {
  font-weight: bold;
}
